body {
    /* background-color: white; */
    font-family: 'Libre Baskerville', serif;
      color: rgb(0, 0, 0);

}

canvas {
    width:100%;
    height: 100%;
}

header {
    text-align: right;
    font-size: 42px;
    position: absolute;
    text-decoration: none;
    right: 150px;
    top: 300px;
}

ul {
    list-style-type: none;
}
footer {
    width:100%;
    height: 50px;
    margin-top:50px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
}

footer nav {
    width: 100%;
}

a {
    text-decoration: none;
}

footer li {
    float: left;
    width: 20%;
}

footer li a {
    font-size: 24px;
    display: block;
    color: black;
    text-align: center;
}

.about {
    top: 0px;
    font-size: 46px;
    width: 750px;
    display: inline-block;
    grid-template-columns: auto auto;
    padding-left: 20px;
    padding-bottom: 100px;
}

div {
    display: block;
}
.milestones {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.milestones .row {
    display: table;
    width: 1170px;
    margin-bottom: 30px;
}

.milestones .col {
    width: 25%;
    padding-right: 50px;
    float: left;
    position: relative;
}

.milestones h1 {
    font-size: 46px;
    font-weight: 300;
}

.milestones h3 {
    font-size: 24px;
    font-weight: 200;
}

.milestones h2 {
    font-size: 14px;
    font-weight: 400;
}

.resume {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 75px;
}
.resume .row {
    display: table;
    width: 1170px;
    margin-bottom: 30px; 
}

.resume .col {
    width: 25%;
    padding-right: 50px;
    float: left;
    position: relative;
}

.resume h1 {
    font-size: 46px;
    font-weight: 300;
}

.resume h3 {
    font-size: 24px;
    font-weight: 200;
}

.resume h2 {
    font-size: 14px;
    font-weight: 400;
}

#me {
    width: 50%;
    display: flex; 
    padding:10em;
    text-decoration: none;
}
#me > .hi {
  width: 20rem;
  padding: 1em;
  color: black;
  font-size: 48px;
  padding-top: 5em;
  margin-right: 2em;
  
}
#me > .me-img { 
  flex: auto;
  padding-left:2em;
  opacity:.75;
  transition: opacity 2s;
}

img:hover{
  opacity:1;
  transition: opacity 2s;
}

#aboutText {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-container {
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
}