@font-face {
    font-family: Roboto Mono;
    src: url(../media/fonts/RobotoMono-Regular.ttf);
}


* {
    margin:0;
    padding:0;
}

/* html { 
    background: url(../media/background.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

p::selection {
    background: greenyellow;
}

a {
    color: greenyellow;
}

a:visited {
    color: greenyellow;
}

#sidebar {
    position: fixed;
    width: 300px;
    height:100%;
    background: #000;
    left: -300px;
    transition: .4s;
    padding-top: 50px;
    z-index: 1;
}

#sidebar.active {
    left: 0;
}

#sidebar ul li {
    list-style: none;
    color: #fff;
    font-size: 40px;
    padding: 20px 24px;
}

#sidebar .toggle-btn {
    position: absolute;
    top: 30px;
    left: 330px;

}
.toggle-btn span {
    width: 45px;
    height: 4px;
    background: #000;
    display: block;
    margin-top: 4px;
}

main {
    position: fixed;
    z-index: -1;
}

#home-container {
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 400px;
    width: 600px;
    margin:auto;
    color: #fff;
    line-height: 1.5em;
}

#about-container {
    display: none;
    position: absolute;
    top: 30%;
    left: 400px;
    width: 600px;
    margin:auto;
    color: #fff;
    line-height: 1.5em;
}

#contact-container {
    display: none;
    font-size: 60px;
    position: absolute;
    top: 35%;
    left: 400px;
    width: 800px;
    margin:auto;
    color: #fff;
    line-height: 1.5em;
}

#work-container {
    display: none;
    position: absolute;
    top: 25%;
    left: 500px;
    width: 600px;
    margin:auto;
    color: #fff;
    line-height: 1.5em;
}

#work-container article {
    margin-bottom: 600px;
}

#click {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin:auto;
    color: #fff;
    line-height: 1.5em;
}

@media (max-width: 600px) {
    #home-container {
        left: 10%;
        width:80%;
    }

    #about-container {
        top: 15%;
        left: 10%;
        width:80%;
    }

    #about-container article {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    #contact-container {
        font-size: 30px;
        left: 10%;
        width:80%;
    }

    #work-container {
        left: 10%;
        width:80%;
    }

    #click {
        position: fixed;
        top: 20px;
        right: 20px;
        margin:auto;
        color: #fff;
        line-height: 1.5em;
    }

}